---
import Layout from "@/components/Layout.astro";
import Seo from "@/components/Seo.astro";
import Hero from "@/components/Hero.astro";
import Video from "@/components/Video.astro";
import ButtonWsp from "@/components/ButtonWsp.astro";

import data from "@/data";
const { repairsByCategory } = data.main; // Adaptado al nuevo JSON

// Generar las rutas dinámicas
export async function getStaticPaths() {
  let paths = [];
  let repairsByCategory = data.main.repairsByCategory;
  // Iteramos sobre las categorías y las reparaciones
  repairsByCategory.forEach((category) => {
    category.repairs.forEach((repair) => {
      paths.push({
        params: { category: category.categoryId, slug: repair.repairsId }, // Usamos categoryId y repairsId
      });
    });
  });
  return paths;
}

const { category, slug } = Astro.params;

const categoryData = repairsByCategory.find((c) => c.categoryId === category);

const repairData = categoryData?.repairs.find((r) => r.repairsId === slug);
const { title, subtitle, description, vimeoId, buttonText, msgText } =
  repairData || {};
---

<Layout
  sections={["aboutrepairs", "calltoaction"]}
  seoData={{
    title: title || "Default Title",
    description: description || "Default Description",
  }}
>
  <Hero>
    <div class="mx-auto" style="max-width: 600px">
      <div class="row">
        <!-- Columna izquierda -->
        <div class="col-md-7 order-md-2 align-items-center">
          <div class="text-center text-white mt-md-5">
            <h1 class="text-white mb-3" data-aos="zoom-in">
              {title}
            </h1>
            <p
              class="text-white mb-4 pb-2"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              {description}
            </p>

            <div class="d-none d-md-block">
              <div id="arrow-target-in-laptop" class="w-auto">
                <ButtonWsp msgText={msgText || "Hola, tengo una consulta."}>
                  {buttonText || "Más información"}
                  <i class="fas fa-arrow-right ms-2"></i>
                </ButtonWsp>
              </div>
            </div>
          </div>
        </div>
        <!-- Columna derecha -->
        <div class="col-md-5 order-md-1 p-0">
          <Video vimeoId={vimeoId} />
          <!-- Botón derecho (solo en teléfonos) -->
          <div id="arrow-target-in-mobile" class="d-md-none mt-2">
            <ButtonWsp msgText={msgText || "Hola, tengo una consulta."}>
              {buttonText || "Más información"}
              <i class="fas fa-arrow-right ms-2"></i>
            </ButtonWsp>
          </div>
        </div>
      </div>
    </div>
  </Hero>
</Layout>
