---
import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => !data.draft);
---

<h1>Blog de TomyCell</h1>
<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
