---
import data from "@/data";
const { workshops } = data.business;
const departments = Object.keys(workshops);
---

<div class="container pb-5 d-flex justify-content-center align-items-center">
  <div class="card w-100 bg-light">
    <div class="card-body text-center">
      <div class="fs-4">
        <h3 class="me-4 fw-bold fs-5 lh-lg"> Estamos en: 
        <br class="d-md-none" />
        {
          departments.map((d) => (
            <span class="mx-3" key={d}>
              <i class="fa fa-map-marker-alt me-1 lead" />
              {d}
            </span>
          ))
        }
        </h3>
      </div>
    </div>
  </div>
</div>
