  <!-- Testimonial section-->
  <div class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
          <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">
              "En TomyCell, trabajamos con dedicación para ofrecerte reparaciones de calidad. Tu confianza es lo que nos impulsa a seguir mejorando cada día."
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img
                class="rounded-circle me-2"
                width="30" height="30"
                src="https://github.com/tomas-vasquez.png"
                alt="..."
              />
              <div class="fw-bold">
                Tomás Vasquez
                <span class="fw-bold text-primary">/</span>
                fundador
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
