<!-- Features section-->
<section class="py-5" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h2 class="fw-bolder mb-0">¿Por que TomyCell es tu mejor opción?.</h2>
      </div>
      <div class="col-lg-8">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
          <div class="col mb-5 h-100">
        
            <h2 class="h5"><i class="fas fa-check me-2"></i>Repuestos de Calidad</h2>
            <p class="mb-0">
              Solo utilizamos repuestos originales o de calidad comparable para garantizar el rendimiento de tu dispositivo después de la reparación.
            </p>
          </div>
          <div class="col mb-5 h-100">
            
            <h2 class="h5"><i class="fas fa-check me-2"></i>Servicio a Domicilio</h2>
            <p class="mb-0">
              Sabemos que tu tiempo es valioso, por eso ofrecemos un servicio de recojo y entrega a domicilio, para que no tengas que preocuparte por nada.
            </p>
          </div>
          <div class="col mb-5 mb-md-0 h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-toggles2"></i>
            </div>
            <h2 class="h5"><i class="fas fa-check me-2"></i>Precios Transparentes</h2>
            <p class="mb-0">
              Sin costos sorpresivos, te ofrecemos un presupuesto claro desde el principio, con opciones accesibles para todos.
            </p>
          </div>
          <div class="col h-100">
            <div
              class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
            >
              <i class="bi bi-toggles2"></i>
            </div>
            <h2 class="h5"><i class="fas fa-check me-2"></i>Atención Personalizada</h2>
            <p class="mb-0">
              Nos importa cada uno de nuestros clientes, por eso nos aseguramos de ofrecer un servicio adaptado a tus necesidades.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
