---
import Layout from "@/components/Layout.astro";
import Hero from "@/components/Hero.astro";
import data from "@/data"; // Asegúrate de que la ruta sea correcta

// Desestructura los datos necesarios
const { title, subtitle, description, repairsByCategory } = data.main;
---

<Layout
  sections={["about", "services", "calltoaction", "ubication"]}
  seoData={{ title: title, description: description }}
>
  <Hero title={title} content={subtitle}>
    {
      repairsByCategory.map((option) => (
        <a
          class="btn btn-primary px-4 m-2"
          href={`/reparar/${option.categoryId}`}
        >
          <i class={`${option.icon} me-2`} />
          {option.categoryId.charAt(0).toUpperCase() +
            option.categoryId.slice(1)}
        </a>
      ))
    }
  </Hero>
</Layout>
