---
const buildTime = new Date().toISOString();
const version = "1.0.0";
---

<h1>Información del Build</h1>
<p>Fecha de compilación: {buildTime}</p>
<p>Versión: {version}</p>

<script>
  window.BUILD_TIME = { buildTime };
  window.VERSION = { version };
  console.log("Fecha de compilación:", window.BUILD_TIME);
  console.log("Versión:", window.VERSION);
</script>
