<div
  style="position: relative; padding-bottom: 177.5%; height: 0; overflow: hidden; max-width: 100%; background: #000;"
>
  <iframe
    id="youtube-video"
    src="https://www.youtube.com/embed/w50G1mIMVJ8?start=0&rel=0&modestbranding=1&autoplay=1"
    frameborder="0"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe>
</div>

<script>
  var iframe = document.getElementById("youtube-video");

  iframe.addEventListener("load", function () {
    var videoId = "w50G1mIMVJ8"; // ID del video
    var player = new YT.Player(iframe, {
      events: {
        onStateChange: function (event) {
          if (event.data === YT.PlayerState.ENDED) {
            window.location.href = "https://your-redirect-url.com"; // Redirige a donde desees
          }
        },
      },
    });
  });
</script>

<script src="https://www.youtube.com/iframe_api"></script>
