---
import SectionTitle from "@/components/SectionTitle.astro";
import business from "@/data/business.json";
---

<div class="hero-header">
  <div class="container text-light">
    <div class="container py-4">
      <div class="text-center">
        &copy; <a class="btn btn-link" href="index.html#">TomyCell</a>
        <span id="current-year"></span>, Marca registrada. <br />
        Página diseñada por <a
          class="btn btn-link"
          href="https://tomas-vasquez-quispe.vercel.app/">TomyDev</a
        >.
      </div>
      <!-- Footer End -->
    </div>
  </div>
</div>

<script>
  // Script para insertar el año actual
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>
