---
import SectionTitle from "@/components/SectionTitle.astro";

import data from "@/data";
const { social } = data.business;
---

<div class="hero-header">
  <div class="container">
    <div class="text-center">
      <p class="small text-light">
        &copy; <a class="btn btn-link" href="index.html#">TomyCell</a>
        <span id="current-year"></span>, Marca registrada. <br />
        Página diseñada por <a
          class="btn btn-link"
          href="https://tomas-vasquez-quispe.vercel.app/"
        >TomyDev</a>.
      </p>
    </div>
    <div class="footer_profile mt-3">
      <ul>
        {
          social.map(s => (
            <li key={s.name}>
              <a href={`${s.link}`} target="_blank" rel="noopener noreferrer">
                <i class={`${s.icon}`}></i>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<script>
  // Script para insertar el año actual
  document.getElementById("current-year").textContent =
    new Date().getFullYear();
</script>