---
const { title, content } = Astro.props;
---

<div class="py-5 hero-header">
  <div class="container text-center py-4">
    {
      title && (
        <h1 class="display-3 text-white mb-3" data-aos="zoom-in">
          {title}
        </h1>
      )
    }
    {
      content && (
        <p class="text-white mb-4 pb-2" data-aos="zoom-in" data-aos-delay="200">
          {content}
        </p>
      )
    }
    <slot />
  </div>
</div>
