---
const { title, content } = Astro.props;
---

<div class="py-5 hero-header">
  <div class="container-sm text-center py-4">
    {
      title && (
        <h1 id="element" class="display-3 text-light mb-3 fw-bold " data-aos="zoom-in">
          {title}
        </h1>
      )
    }
    {
      content && (
        <p class="text-white mb-4 pb-2 small" data-aos="zoom-in" data-aos-delay="200">
          {content}
        </p>
      )
    }
    <slot />
  </div>
</div>

<script>
  

</script>