!-- Modal único -->
<div
  class="modal fade"
  id="videoModal"
  tabindex="-1"
  aria-labelledby="videoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoModalLabel">Reproduciendo Video</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aquí va el iframe que contendrá el video -->
        <iframe
          id="videoFrame"
          width="100%"
          height="400"
          frameborder="0"
          allow="autoplay; encrypted-media"
          src=""
          allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          >Cerrar</button
        >
      </div>
    </div>
  </div>
</div>
