/* =================== IMPORTACIÓN DE ESTILOS EXTERNOS =================== */
@import "bootstrap/dist/css/bootstrap.min.css"; /* Bootstrap */
@import "aos/dist/aos.css"; /* AOS (Animaciones al hacer scroll) */
@import "swiper/css"; /* Swiper (Carrusel) */
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "leaflet/dist/leaflet.css"; /* Leaflet (Mapas) */

/* =================== VARIABLES CSS =================== */
:root {
  --primary-color: #109f30; /* Color principal personalizado */
}

/* =================== ESTILOS GENERALES =================== */
body {
  font-family: "nunito";
  font-size: 18px;
  padding: 0;
}

p {
  color: #000000a1 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "quicksand";
  color: #000000bb !important;
}

/* =================== TIPOGRAFÍA =================== */
.text-primary {
  color: var(--primary-color) !important;
}

.ff-secondary {
  font-size: 17px;
}

.ff-secondary::before {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #bbb;
  margin-left: 10px;
}

/* =================== BOTONES =================== */
.btn {
  font-family: "nunito";
  font-size: 18px;
  transition: 0.5s;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  box-shadow:;
}

.btn-primary:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.border-primary {
  border-color: var(--primary-color) !important;
}

/* Botones personalizados (cuadrados) */
.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}
/* Estilo para un botón que parece un enlace */
.btn-link {
  background-color: transparent;
  color: var(
    --primary-color
  ); /* Color de texto del enlace (puedes cambiarlo) */
  border: none;
  padding: 0;
  text-decoration: none; /* Elimina el subrayado del texto */
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

/* Estilo cuando el botón de enlace está en hover */
.btn-link:hover,
.btn-link:focus {
  color: var(
    --primary-color
  ); /* Color de texto cuando se pasa el mouse o se tiene el foco */
  text-decoration: underline; /* Subraya el enlace al pasar el mouse */
  outline: none; /* Elimina el borde de enfoque por defecto */
}

/* Estilo para el estado activo del botón */
.btn-link:active {
  color: var(--primary-color); /* Color de texto cuando el enlace está activo */
  text-decoration: underline;
}
/* =================== NAVBAR =================== */
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 15px;
  color: var(--bs-light) !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--bs-primary) !important;
}

/* =================== HERO HEADER =================== */
.hero-header {
  background: 
    linear-gradient(#000000e0, #080908d9),  /* Gradiente semitransparente */
    url(/img/bg-hero.jpg); /* Imagen de fondo */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Asegura que la imagen cubra toda el área */
  background-attachment: fixed; /* Mantiene el fondo fijo mientras se hace scroll */
  display: flex; /* Usamos Flexbox para centrar el contenido */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  color: white; /* Color del texto en blanco */
  text-align: center; /* Centra el texto */
  padding: 40px 20px; /* Espaciado interno (ajustable) */
}
/* =================== MODALES =================== */
.modal-content {
  background-color: rgba(255, 255, 255, 0); /* Blanco con 50% de opacidad */
}
/* Modificar el backdrop de Bootstrap */
.modal-backdrop {
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ) !important; /* Negro con 80% de opacidad */
}
/* =================== FOOTER =================== */
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--bs-primary);
}

/* =================== SWIPER (CARRUSEL) =================== */

/* Asegura que las imágenes del carrusel no se estiren */
.swiper-slide img {
  object-fit: cover;
}

.swiper .card {
  transition: 1s;
}

/* Posicionamiento de la paginación del Swiper */
.swiper-pagination {
  text-align: center !important;
  position: relative !important; /* Asegura que no se quede pegado abajo */
}

/* Estilo para los puntos de paginación del Swiper */
.swiper-pagination-bullet {
  background-color: #d8d6d6 !important; /* Color de los puntos de paginación */
  width: 10px; /* Tamaño de los puntos */
  height: 10px; /* Tamaño de los puntos */
  opacity: 1; /* Mantiene los puntos visibles */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

/* Estilo cuando el punto de paginación está activo */
.swiper-pagination-bullet-active {
  background-color: var(
    --primary-color
  ) !important; /* Color más oscuro cuando está activo */
}

@keyframes palpitar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.btn-palpitar {
  animation: palpitar 4s infinite ease-in-out;
}

.bg-light {
  background-color: #f4f4f4!important;
}
